<!DOCTYPE html>
<html>
<% include layout/_head %>

<body class="hold-transition sidebar-mini layout-fixed">
    <div class="wrapper">

        <!-- Navbar -->
        <% include layout/_navbar %>
        <!-- /.navbar -->

        <!-- Main Sidebar Container -->
        <%include layout/_mainSidebar %>

        <!-- Content Wrapper. Contains page content -->
        <div class="content-wrapper">
            <!-- Content Header (Page header) -->
            <div class="content-header">
                <div class="container-fluid">
                    <div class="row mb-2">
                        <div class="col-sm-6">                        
                        <div class="col-sm-6">
                            <ol class="breadcrumb float-sm-left">
                                <li class="breadcrumb-item"><a href="/">Trang chủ</a></li>
                                <li class="breadcrumb-item active">Quản lý môn học</li>
                            </ol>
                        </div><!-- /.col -->
                    </div><!-- /.row -->
                </div><!-- /.container-fluid -->
            </div>
            <!-- /.content-header -->
            <!-- Main content -->
            <section class="content">
                <div class="container-fluid">
                    <div class="card">
                        <h4> Quản lý Giáo Viên </h4>
                        <div class="card-header">
                        <div class ="row">
                            <div class="col-sm-2">
                                <select name="tenLop" id="tenLop" class="form-control">
                                    <option value="1" selected="selected">--Chọn Lớp Học--</option>
                                    <% lop.map((element,index)=>{ %>
                                    <option value="<%= element._id %>"><%= element.tenLop%></option>
                                    <% }) %>
                                </select>
                            </div>
                            <div class="col-sm-2">
                                <select name="tenMonDay" id="tenMonDay" class="form-control">
                                    <option value="1" selected="selected">--Chọn Môn Học--</option>
                                    <% monHoc.map((element,index)=>{ %>
                                    <option value="<%= element._id %>"><%= element.tenMonHoc%></option>
                                    <% }) %>
                                </select>
                            </div>
                            </div>
                        </div>
                        <div class="card-body">
                            <table id="tblresult" class="table table-bordered table-striped">
                                <thead>
                                    <tr>
                                        <th>STT</th>
                                        <th>ID</th>
                                        <th>Họ</th>
                                        <th>Tên</th>
                                        <th>Ngày sinh</th>
                                        <th>Địa chỉ</th>
                                        <th>Lớp</th>
                                        <th>Tên môn dạy</th>
                                        <th>Thao tác</th>
                                    </tr>
                                </thead>
                            </table>
                        </div>
                        <div class="card-footer">
                            <div class="col-12">
                                <button type="button" class="btn btn-primary" id="btnAdd" name="btnAdd"><i
                                        class="fa fa-plus"></i>&nbsp; Thêm</button>
                            </div>
                        </div>
                    </div>
                </div>
        </div><!-- /.container-fluid -->
        </section>
        <!-- /.content -->
    </div>
    <!-- /.content-wrapper -->

    <% include layout/_footer %>
    <!-- Control Sidebar -->
    <aside class="control-sidebar control-sidebar-dark">
        <!-- Control sidebar content goes here -->
    </aside>
    <!-- /.control-sidebar -->
    </div>
    <!-- ./wrapper -->

    <!-- The Modal appConfirm-->
    <div class="modal fade" id="appConfirm">
        <div class="modal-dialog modal-lg">
            <div class="modal-content">

                <!-- Modal Header -->
                <div class="modal-header">
                    <h4 class="modal-title"></h4>
                    <button type="button" class="close" data-dismiss="modal">&times;</button>
                </div>

                <!-- Modal body -->
                <div class="modal-body">
                    <h5></h5>
                    <form method="post" class="form-horizontal" id="frmDelete">
                        <input type="hidden" id="r_id" name="ID">
                    </form>
                </div>

                <!-- Modal footer -->
                <div class="modal-footer">
                    <button type="button" class="btn btn-danger" data-dismiss="modal">Đóng</button>
                    <button type="submit" class="btn btn-success" form="frmDelete" id="btnSubmit">Xóa</button>
                </div>

            </div>
        </div>
    </div>

    <!-- The Modal create -->
    <div class="modal fade" id="editmodal">
        <div class="modal-dialog modal-xl">
            <div class="modal-content">

                <!-- Modal Header -->
                <div class="modal-header">
                    <h4 class="modal-title">Giáo Viên</h4>
                    <button type="button" class="close" data-dismiss="modal">&times;</button>
                </div>
                <!-- Modal body -->
                <div class="modal-body">
                    <form role="form" id="frmPost" method="post">
                        <input type="hidden" class="form-control" id="IDp" name="IDp">
                        <div class="card-body">
                            <div class="row form-group">
                                <div class="col-md-6">
                                    <label for="Ho">Họ </label>
                                    <input type="text" class="form-control" id="ho" name="ho"
                                        placeholder="Họ ">
                                </div>
                                <div class="col-md-6">
                                    <label for="ten">Tên </label>
                                    <input type="text" class="form-control" id="ten" name="ten"
                                        placeholder="Tên">
                                </div>
                            </div>
                            <div class="row form-group">
                                 <div class="col-sm-6">
                                    <label for="ngaySinh">Ngày sinh</label>
                                    <input type='text' id='ngaySinh' name="ngaySinh" class="form-control" placeholder="Ngày sinh"/>
                                </div>
                                <div class="col-sm-6">
                                    <label for="diaChi">Địa chỉ</label>
                                    <input type='text' id='diaChi' name="diaChi" class="form-control" placeholder="Địa chỉ"/>
                                </div>
                                 <div class="col-sm-6">
                                    <label for="tenLop">Lớp</label>
                                        <select name="Lop_idLop" id="idLop" class="form-control">
                                            <option value="1" selected="selected">--Chọn Lớp Học--</option>
                                            <% lop.map((element,index)=>{ %>
                                            <option value="<%= element._id %>"><%= element.tenLop%></option>
                                            <% }) %>
                                        </select>
                                </div>
                                <div class="col-sm-6">
                                    <label for="tenMonDay">Tên Môn Dạy</label>
                                    
                                        <select name="MonHoc_idMonHoc" id="idMonHoc" class="form-control">
                                            <option value="1" selected="selected">--Chọn Môn Học--</option>
                                            <% monHoc.map((element,index)=>{ %>
                                            <option value="<%= element._id %>"><%= element.tenMonHoc%></option>
                                            <% }) %>
                                        </select>
                                   
                                </div>
                            </div>
                            </div>
                    </form>

                </div>
                <!-- Modal footer -->
                <div class="modal-footer">
                    <button type="submit" class="btn btn-success" form="frmPost" id="btnSubmitConfirm">Submit</button>
                    <button type="button" class="btn btn-danger" data-dismiss="modal">Close</button>
                </div>

            </div>
        </div>
    </div>

    <!-- The Modal update -->
    <div class="modal fade" id="updatemodal">
        <div class="modal-dialog modal-xl">
            <div class="modal-content">

                <!-- Modal Header -->
                <div class="modal-header">
                    <h4 class="modal-title">Giáo Viên</h4>
                    <button type="button" class="close" data-dismiss="modal">&times;</button>
                </div>
                <!-- Modal body -->
                <div class="modal-body">
                    <form role="form" id="frmPut" method="put">
                        <input type="hidden" class="form-control" id="u_id" name="id">
                        <div class="card-body">
                            <div class="row form-group">
                                 <div class="row form-group">
                                <div class="col-md-6">
                                    <label for="Ho">Họ </label>
                                    <input type="text" class="form-control" id="u_ho" name="ho"
                                        placeholder="Họ ">
                                </div>
                                <div class="col-md-6">
                                    <label for="ten">Tên </label>
                                    <input type="text" class="form-control" id="u_ten" name="ten"
                                        placeholder="Tên">
                                </div>
                            <div class="row form-group">
                                <div class="col-sm-6">
                                    <label for="ngaySinh">Ngày sinh</label>
                                    <input type='text' id='u_ngaySinh' name="ngaySinh" class="form-control" placeholder="Ngày sinh"/>
                                </div>
                                <div class="col-sm-6">
                                    <label for="diaChi">Địa chỉ</label>
                                    <input type='text' id='u_diaChi' name="diaChi" class="form-control" placeholder="Địa chỉ"/>
                                </div>
                                 <div class="col-sm-6">
                                    <label for="tenLop">Lớp</label>
                                     
                                        <select name="Lop_idLop" id="u_Lop_idLop" class="form-control">
                                            <option value="1" selected="selected">--Chọn Lớp Học--</option>
                                            <% lop.map((element,index)=>{ %>
                                            <option value="<%= element._id %>"><%= element.tenLop%></option>
                                            <% }) %>
                                        </select>
                                    
                                </div>
                                <div class="col-sm-6">
                                    <label for="tenMonDay">Tên Môn Dạy</label>
                                    
                                        <select name="MonHoc_idMonHoc" id="u_MonHoc_idMonHoc" class="form-control">
                                            <option value="1" selected="selected">--Chọn Môn Học--</option>
                                            <% monHoc.map((element,index)=>{ %>
                                            <option value="<%= element._id %>"><%= element.tenMonHoc%></option>
                                            <% }) %>
                                        </select>
                                   
                                </div>
                            </div>
                            </div>
                    </form>

                </div>
                <!-- Modal footer -->
                <div class="modal-footer">
                    <button type="submit" class="btn btn-success" form="frmPut" id="btnSubmitDetail">Update</button>
                    <button type="button" class="btn btn-danger" data-dismiss="modal">Close</button>
                </div>

            </div>
        </div>
    </div>


    <!-- jQuery -->
    <% include layout/_defaultScript %>
    <script src="MyJavaScript/QuanLyGiaoVien.js"></script>

</body>

</html>