<!DOCTYPE html>
<html>
<% include layout/_head %>

<body class="hold-transition sidebar-mini layout-fixed">
    <div class="wrapper">

        <!-- Navbar -->
        <% include layout/_navbar %>
        <!-- /.navbar -->

        <!-- Main Sidebar Container -->
        <%include layout/_mainSidebar %>

        <!-- Content Wrapper. Contains page content -->
        <div class="content-wrapper">
            <!-- Content Header (Page header) -->
            <div class="content-header">
                <div class="container-fluid">
                    <div class="row mb-2">
                        <div class="col-sm-2">
                            <ol class="breadcrumb float-sm-left">
                                <li class="breadcrumb-item"><a href="/">Trang chủ</a></li>
                                <li class="breadcrumb-item active">Quản lý môn học</li>
                            </ol>
                        </div><!-- /.col -->
                    </div><!-- /.row -->
                </div><!-- /.container-fluid -->
            </div>
            <!-- /.content-header -->
            <!-- Main content -->
            <section class="content">
                <div class="container-fluid">
                    <div class="card">
                        <div class="card-header">
                            <h4>Danh môn học</h4>
                            <div class="col-2">
                                <select name="subjectname" id="fillerHK" class="form-control">
                                    <option value="1" selected="selected">--Chọn học kỳ--</option>
                                    <% hocky.map((element,index)=>{ %>
                                    <option value="<%= element._id %>"><%= element.tenHocKy%></option>
                                    <% }) %>
                                </select>
                            </div>
                        </div>
                        <div class="card-body">
                            <table id="tblresult" class="table table-bordered table-striped">
                                <thead>
                                    <tr>
                                        <th>STT</th>
                                        <th>_id</th>
                                        <th>Môn học</th>
                                        <th>Số tiết</th>
                                        <th>HocKy_idHocKy</th>
                                        <th>Học kỳ</th>
                                        <th>Thao Tác</th>
                                    </tr>
                                </thead>
                            </table>
                        </div>
                        <div class="card-footer">
                            <div class="col-12">
                                <button type="button" class="btn btn-primary" id="btnAdd" name="btnAdd"><i
                                        class="fa fa-plus"></i>&nbsp; Thêm</button>
                            </div>
                        </div>
                    </div>
                </div>
        </div><!-- /.container-fluid -->
        </section>
        <!-- /.content -->
    </div>
    <!-- /.content-wrapper -->

    <% include layout/_footer %>
    <!-- Control Sidebar -->
    <aside class="control-sidebar control-sidebar-dark">
        <!-- Control sidebar content goes here -->
    </aside>
    <!-- /.control-sidebar -->
    </div>
    <!-- ./wrapper -->

    <!-- The Modal appConfirm-->
    <div class="modal fade" id="appConfirm">
        <div class="modal-dialog modal-lg">
            <div class="modal-content">

                <!-- Modal Header -->
                <div class="modal-header">
                    <h4 class="modal-title"></h4>
                    <button type="button" class="close" data-dismiss="modal">&times;</button>
                </div>

                <!-- Modal body -->
                <div class="modal-body">
                    <h5></h5>
                    <form method="post" class="form-horizontal" id="frmDelete">
                        <input type="hidden" id="r_id">
                    </form>
                </div>

                <!-- Modal footer -->
                <div class="modal-footer">
                    <button type="button" class="btn btn-danger" data-dismiss="modal">Đóng</button>
                    <button type="submit" class="btn btn-success" form="frmDelete" id="btnSubmit">Xóa</button>
                </div>

            </div>
        </div>
    </div>
    <!-- ! The Modal appConfirm-->


    <!-- The Modal create -->
    <div class="modal fade" id="editmodal">
        <div class="modal-dialog modal-xl">
            <div class="modal-content">

                <!-- Modal Header -->
                <div class="modal-header">
                    <h4 class="modal-title">Học sinh</h4>
                    <button type="button" class="close" data-dismiss="modal">&times;</button>
                </div>
                <!-- Modal body -->
                <div class="modal-body">
                    <form role="form" id="frmPost" method="Post">
                        <div class="card-body">
                            <div class="row form-group">
                                <div class="col-md-6">
                                    <label for="viTri">Tên môn học</label>
                                    <input type="text" class="form-control" id="c_tenMonHoc" name="tenMonHoc"
                                        placeholder="Tên môn học...">
                                </div>
                                <div class="col-md-6">
                                    <label for="viTri">Số tiết</label>
                                    <input type="number" class="form-control" id="c_soTiet" name="soTiet"
                                        placeholder="Số tiết...">
                                </div>
                                <div class="col-md-6">
                                    <label for="c_HocKy_idHocKy">Học kỳ</label>
                                    <select name="HocKy_idHocKy" id="c_HocKy_idHocKy" class="form-control">
                                        <option value="0" selected="selected">--Chọn học kỳ--</option>
                                        <% hocky.map((element,index)=>{ %>
                                        <option value="<%= element._id %>"><%= element.tenHocKy%></option>
                                        <% }) %>
                                    </select>
                                </div>
                            </div>
                        </div>
                    </form>
                </div>
                <!-- Modal footer -->
                <div class="modal-footer">
                    <button type="submit" class="btn btn-success" form="frmPost" id="btnSubmitConfirm">Thêm</button>
                    <button type="button" class="btn btn-danger" data-dismiss="modal">Đóng</button>
                </div>

            </div>
        </div>
    </div>
    <!-- ! The Modal create -->


    <!-- The Modal update -->
    <div class="modal fade" id="updatemodal">
        <div class="modal-dialog modal-xl">
            <div class="modal-content">

                <!-- Modal Header -->
                <div class="modal-header">
                    <h4 class="modal-title">Học sinh</h4>
                    <button type="button" class="close" data-dismiss="modal">&times;</button>
                </div>
                <!-- Modal body -->
                <div class="modal-body">
                    <form role="form" id="frmPut" method="Put">
                        <input type="hidden" id="u_id">
                        <div class="card-body">
                            <div class="row form-group">
                                <div class="col-md-6">
                                    <label for="viTri">Tên môn học</label>
                                    <input type="text" class="form-control" id="u_tenMonHoc" name="tenMonHoc"
                                        placeholder="Tên môn học...">
                                </div>
                                <div class="col-md-6">
                                    <label for="viTri">Số tiết</label>
                                    <input type="number" class="form-control" id="u_soTiet" name="soTiet"
                                        placeholder="Số tiết...">
                                </div>
                                <div class="col-md-6">
                                    <label for="c_HocKy_idHocKy">Học kỳ</label>
                                    <select name="HocKy_idHocKy" id="u_HocKy_idHocKy" class="form-control">
                                        <option value="1" selected="selected">--Chọn học kỳ--</option>
                                        <% hocky.map((element,index)=>{ %>
                                        <option value="<%= element._id %>"><%= element.tenHocKy%></option>
                                        <% }) %>
                                    </select>
                                </div>
                            </div>
                        </div>
                    </form>
                </div>
                <!-- Modal footer -->
                <div class="modal-footer">
                    <button type="submit" class="btn btn-success" form="frmPut" id="btnSubmitUpdate">Cập nhật</button>
                    <button type="button" class="btn btn-danger" data-dismiss="modal">Đóng</button>
                </div>

            </div>
        </div>
    </div>
    <!-- ! The Modal update -->

    <!-- jQuery -->
    <% include layout/_defaultScript %>
    <script src="MyJavaScript/QuanLyMonHoc.js"></script>

</body>

</html>